@font-face {
     font-family: 'Satoshi-VariableItalic';
     src: url('../../public/fonts/Satoshi-Black.ttf');
     font-weight: 800;
}

@font-face {
     font-family: 'Satoshi-VariableItalic';
     src: url('../../public/fonts/Satoshi-Bold.ttf');
     font-weight: 700;
}

@font-face {
     font-family: 'Satoshi-VariableItalic';
     src: url('../../public/fonts/Satoshi-Medium.ttf');
     font-weight: 500;
}

@font-face {
     font-family: 'Satoshi-VariableItalic';
     src: url('../../public/fonts/Satoshi-Light.ttf');
     font-weight: 300;
}

@font-face {
     font-family: 'Satoshi-VariableItalic';
     src: url('../../public/fonts/Satoshi-Regular.ttf');
     font-weight: 400;
}



