@import "./_fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
     --wave-path: polygon(
    100% 0%,
    0% 0%,
    0% 100%,
    2% 99.84%,
    4% 99.38%,
    6% 98.64%,
    8% 97.68%,
    10% 96.55%,
    12% 95.31%,
    14% 94.06%,
    16% 92.87%,
    18% 91.81%,
    20% 90.95%,
    22% 90.35%,
    24% 90.04%,
    26% 90.04%,
    28% 90.35%,
    30% 90.95%,
    32% 91.81%,
    34% 92.87%,
    36% 94.06%,
    38% 95.31%,
    40% 96.55%,
    42% 97.68%,
    44% 98.64%,
    46% 99.38%,
    48% 99.84%,
    50% 100%,
    52% 99.84%,
    54% 99.38%,
    56% 98.64%,
    58% 97.68%,
    60% 96.55%,
    62% 95.31%,
    64% 94.06%,
    66% 92.87%,
    68% 91.81%,
    70% 90.95%,
    72% 90.35%,
    74% 90.04%,
    76% 90.04%,
    78% 90.35%,
    80% 90.95%,
    82% 91.81%,
    84% 92.87%,
    86% 94.06%,
    88% 95.31%,
    90% 96.55%,
    92% 97.68%,
    94% 98.64%,
    96% 99.38%,
    98% 99.84%,
    100% 100%
  );
}


body {
     font-family: 'Satoshi-VariableItalic'
}

@layer components {
     .subheading {
          @apply lg:text-[64px] text-[32px] font-bold
     }
}

@media(min-width:450px) {

     .shade {
          top: -20px;
          padding-left: 2rem;
     }
}



select {
     -webkit-appearance: none;
     -moz-appearance: none;
     background: transparent;
     background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
     background-repeat: no-repeat;
     background-position-x: 98%;
     background-position-y: 15px;
     border-radius: 2px;
     margin-right: 2rem;
     padding: 1rem;
     padding-right: 3rem;
}

.wwo0 {
     position: -webkit-sticky;
     position: sticky;
     top: 0;
     font-size: 20px;
}

.wwo1 {
     position: -webkit-sticky;
     position: sticky;
     top: 20px;
     font-size: 20px;
}

.wwo2 {
     position: -webkit-sticky;
     position: sticky;
     top: 50px;
     font-size: 20px;
}

.scale0 {
     scale: .95;
}

.scale1 {
     scale: .97;
}

.pro0, .pro1, .pro2{
     position: sticky;
     top: 3rem;
}






.item {
  width: 80%;
  height: 100%;
  border-radius: 1rem;
  overflow: hidden;
  
}

.item::before {
  content: " ";
  display: inline-block;
  position: relative;
  top: -88pt;
  width: 900pt;
  height: 200pt;
  background-color: white;
  clip-path: var(--wave-path);
  animation: 4s infinite linear move-wave;
  transition: top 0.4s cubic-bezier(0.85, 0.13, 0.23, 0.92);
}

.item:hover::before {
  top: -170pt;
}

.item::after {
  content: " ";
  display: inline-block;
  width: 200pt;
  height: 200pt;
  position: relative;
  top: -400pt;
  mix-blend-mode: screen;
}



@keyframes move-wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.onMobileTranslate{
     position: absolute !important;
}

@media(max-width:480px){
     .wwo2{
          top: 37px;
     }
     .wwo1{
          top: 17px;
     }
}