@import "./_fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;



body {
     font-family: 'Satoshi-VariableItalic'
}

@layer components {
     .subheading {
          @apply lg:text-[64px] text-[32px] font-medium md:font-bold
     }
}

@media(min-width:450px) {

     .shade {
          top: -20px;
          padding-left: 2rem;
     }
}



select {
     -webkit-appearance: none;
     -moz-appearance: none;
     background: transparent;
     background-image: url("data:image/svg+xml;utf8,<svg fill='white' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
     background-repeat: no-repeat;
     background-position-x: 98%;
     background-position-y: 15px;
     border-radius: 2px;
     margin-right: 2rem;
     padding: 1rem;
     padding-right: 3rem;
}

.wwo0 {
     position: -webkit-sticky;
     position: sticky;
     top: 0;
     font-size: 20px;
}

.wwo1 {
     position: -webkit-sticky;
     position: sticky;
     top: 20px;
     font-size: 20px;
}

.wwo2 {
     position: -webkit-sticky;
     position: sticky;
     top: 50px;
     font-size: 20px;
}

.scale0 {
     scale: .95;
}

.scale1 {
     scale: .97;
}

.pro0, .pro1, .pro2{
     position: sticky;
     top: 3rem;
}








@keyframes move-wave {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.onMobileTranslate{
     position: absolute !important;
     left: 0;
}

@media(max-width:480px){
     .wwo2{
          top: 37px;
     }
     .wwo1{
          top: 17px;
     }
     .whatweoffer{
          overflow-x: hidden;
     }
}